*{
    font-family: Roboto;
    color: #808080;
    font-size: 20px;
    font-weight: bold !important;
}

.bg-container{
    background-color: #808080;
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px;
}

form{
    display: inline-block;
}

form div:focus{
    background-color: #EAEDF0;
}

input {
    border: 0;
}

input:focus{
    outline: none;
}

::placeholder{
    color: #cdc9c9;
}

select{
    border: 0 !important;
    color: #808080 !important;
    background-color: white;
}

select:focus{
    outline: none;
}

option{
    text-align: center !important;
}

option:hover{
    background-color: #A05AAB;
}

#duedate{
    padding: 3px;
    width: 100%;
}

button i{
    color: white;
}

#addBtn{
    width: 28%;
    border: 0;
    background-color: #444444;
    color: white;
    font-weight: 500 !important;
    border-radius: 4px;
    cursor: pointer;
}

#delBtn{
    display: inline-block;
    width: 28%;
    border: 0;
    background-color: #ED4D1C;
    color: white;
    font-weight: 500 !important;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

#delBtn i{
    color: white;
}

#categoryContainer{
    height: 40px; 
    color: white;
    border-radius: 2px;
    margin-right: 27px;
}



